<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.uoc.loadsensing"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="4"/>

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
 	
 	<uses-library android:name="com.google.android.maps" />
    
        <activity android:name=".SplashActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Login Activity -->
        <activity android:name=".LoginActivity" android:windowSoftInputMode="stateHidden"></activity>
 
        <!--  Map Activity -->
        <activity android:name=".MapNetworkActivity" android:launchMode="singleTask"></activity>
		<activity android:name=".AndroidMapViewActivity"></activity>
 
        <!--  List Network Activity -->
        <activity android:name=".ListNetworksActivity" android:launchMode="singleTask"></activity>
 
        <!--  QR Codes Activity -->
        <activity android:name=".QRCodeActivity" android:launchMode="singleTask"></activity>        
        
        <!-- Single Network Activity -->
        <activity android:name=".SingleNetworkActivity" android:launchMode="singleTask"></activity>

        <!-- Single Network State Activity -->
        <activity android:name=".SingleNetworkStateActivity" android:launchMode="singleTask"></activity>
        
		<!-- Single Network Images Activity -->
        <activity android:name=".SingleNetworkImagesActivity" android:launchMode="singleTask"></activity>

		<!-- Sensor Activity -->
        <activity android:name=".SensorActivity" android:launchMode="singleTask"></activity>
        <activity android:name=".MapSensorActivity"></activity>
        
    </application>
    
    <!-- Set permisions -->
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    
</manifest>